@using System.Globalization
@using BmsKhameleon.Core.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model List<DailyTransactionsAggregateResponse>

@{
    //sample data for calendar
    var sampleTransaction1 = new
    {
        date = new DateTime(2024, 7, 1),
        balance = 2000,  //Edit initial balance
        withdrawal = 100
    };

    var sampleTransaction2 = new
    {
        date = new DateTime(2024, 7, 2),
        balance = sampleTransaction1.balance - sampleTransaction1.withdrawal,
        withdrawal = 50
    };

    var sampleTransaction3 = new
    {
        date = new DateTime(2024, 7, 3),
        balance = sampleTransaction2.balance - sampleTransaction2.withdrawal, //Edit current balance
        withdrawal = 0
    };

    var transactions = new[] { sampleTransaction1, sampleTransaction2, sampleTransaction3 };
}

@section styles {
    <link href="~/desktop.blocks/calendar/calendar.css" rel="stylesheet" type="text/css" />
    <script src="~/common.blocks/form-group/form-group__input_date.js" async></script>
    <script src="~/common.blocks/transaction-controller/transaction-controller.js" async defer></script>
    <script src="~/desktop.blocks/calendar/calendar.js" async defer></script>
    <script src="~/common.blocks/overlay/overlay.js" async defer></script>


    <script>
        var transactions = '@Html.Raw(System.Text.Json.JsonSerializer.Serialize(transactions))';
    </script>
}

<main class="main main_calendar-page transaction-controller">

    <section class="transaction-toolbar transaction-toolbar_vertical-margin main__padding ">
        <div class="transaction-toolbar__inner">
            <button class="button button_large transaction-controller__button_deposit"> Add Deposit</button>
            <button class="button button_large transaction-controller__button transaction-controller__button_withdraw"> Add Withdrawal</button>
        </div>

        <div class="transaction-toolbar__legend">
            <div class="transaction-toolbar__legend-item">Total Working Balance</div>
            <div class="transaction-toolbar__legend-item transaction-toolbar__legend-item_red">Total Issued</div>
        </div>

    </section>

    <section class="calendar">
        <section class="calendar__toolbar main__padding">

                <form class="calendar__select-date">
                    <label class="calendar__select-label">
                        Select Date
                    </label>
                 
                    <select class="calendar__select-month">
                        //generate month options
                        @for (int i = 1; i <= 12; i++)
                        {
                            <option value="@i"> @DateTimeFormatInfo.CurrentInfo.GetMonthName(i)</option>
                        }
                    </select>

                    <select class="calendar__select-year">
                        //generate year options
                        @for (int i = DateTime.Now.Year; i >= 2000; i--)
                        {
                            <option value="@i"> @i</option>
                        }
                    </select>
                </form>

            <button class="calendar__account-info-button">

            </button>
        </section>

        <section class="calendar__week-header main__padding">
            <div class="calendar__week-day">Sun</div>
            <div class="calendar__week-day">Mon</div>
            <div class="calendar__week-day">Tue</div>
            <div class="calendar__week-day">Wed</div>
            <div class="calendar__week-day">Thu</div>
            <div class="calendar__week-day">Fri</div>
            <div class="calendar__week-day">Sat</div>
        </section>

        <section class="calendar__date-container main__padding">
            
            <div class="calendar__date-item">

                    <div class="calendar__date-day">
                    </div>

                    <div class="calendar__date-transactions">
                        <div class="calendar__date-balance">
                        </div>

                        <div class ="calendar__date-withrawal">
                        </div>

                    </div>
                </div>
             
        </section>



    </section>

    <section class="overlay transaction-controller__overlay transaction-controller__overlay_deposit">
        <form class="popup">
            <header class="popup__header">
                Add Deposit
            </header>

            <div class="popup__content notice">
                <div class="notice__validation">Please provide information to all&nbsp;<em>required</em>&nbsp;fields below.</div>
                <div class="notice__transaction-medium transaction-controller__transaction-medium">You are about to deposit <strong>Cash</strong> on @DateTime.Now</div>
            </div>

            <fieldset class="popup__content radio-controls transaction-controller__radio-controls transaction-controller__radio-controls_deposit">

                <div class="radio-controls__group">
                    <input class="radio-controls__radio-input transaction-controller__radio transaction-controller__radio_cash" name="deposit-type" type="radio" value="Cash" checked />
                    <label class="radio-controls__label">Cash Deposit</label>
                </div>

                <div class="radio-controls__group">
                    <input class="radio-controls__radio-input transaction-controller__radio transaction-controller__radio_cheque" name="deposit-type" type="radio" value="Cheque" />
                    <label class="radio-controls__label">Check Deposit</label>
                </div>
            </fieldset>

            <fieldset class="popup__content transaction-controller__fieldset transaction-controller__fieldset_deposit transaction-controller__fieldset_cash">

                <div class="form-group">
                    <label class="form-group__label">Cash Deposit Date</label>
                    <input class="form-group__input form-group__input_date transaction-controller__cash-date-input" type="date" data-date="" data-date-format="ll" value="2024-08-11">
                </div>

                <div class="form-group">
                    <label class="form-group__label form-group__label_error">Cash Amount</label>
                    <input class="form-group__input form-group__input_value-bold" placeholder="0.00" />
                </div>

                <div>
                    <fieldset class="form-group radio-controls">
                        <label class="form-group__label">Transaction Type, select one:</label>

                        <div class="radio-controls__group">
                            <input type="radio" class="radio-controls__radio-input" name="transaction-type" />
                            <label class="radio-controls__label">Over-the-Counter </label>
                        </div>

                        <div class="radio-controls__group">
                            <input type="radio" class="radio-controls__radio-input" name="transaction-type" />
                            <label class="radio-controls__label">Bank Pick-up </label>
                        </div>

                        <div class="radio-controls__group">
                            <input type="radio" class="radio-controls__radio-input" name="transaction-type" />
                            <label class="radio-controls__label">Online Fund Transfer </label>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group">
                    <label class="form-group__label form-group__label_error">Note</label>
                    <textarea class="form-group__input" placeholder="Add Note"></textarea>
                </div>

            </fieldset>

            <fieldset class="popup__content transaction-controller__fieldset transaction-controller__fieldset_deposit transaction-controller__fieldset_cheque">

                <div class="form-group">
                    <label class="form-group__label">Check Deposit Date</label>
                    <input class="form-group__input form-group__input_date transaction-controller__cheque-date-input" type="date" data-date="" data-date-format="ll" value="2024-08-11">
                </div>

                <div class="form-group">
                    <label class="form-group__label form-group__label_error">Check Bank Name</label>
                    <input class="form-group__input" placeholder="LANDBANK" />
                </div>

                <div class="form-group">
                    <label class="form-group__label form-group__label_error">Check Number</label>
                    <input class="form-group__input" placeholder="1234567890" />
                </div>

                <div class="form-group">
                    <label class="form-group__label form-group__label_error">Payee (Company/Supplier/Customer Name)</label>
                    <input class="form-group__input" placeholder="Office of the Vice President" />
                </div>

                <div class="form-group">
                    <label class="form-group__label form-group__label_error">Check Amount</label>
                    <input class="form-group__input form-group__input_value-bold" placeholder="0.00" />
                </div>

                <div class="form-group">
                    <label class="form-group__label form-group__label_error">Note</label>
                    <textarea class="form-group__input" placeholder="Add Note"></textarea>
                </div>

            </fieldset>

            <footer class="popup__footer">
                <input type="submit" class="button " value="Add" />
                <button type="button" class="button  button_cancel overlay__cancel">Cancel</button>
            </footer>

        </form>
    </section>

    <section class="overlay transaction-controller__overlay transaction-controller__overlay_withdraw">
        <form class="popup">

            <header class="popup__header">
                Add Withdrawal
            </header>

            <div class="popup__content notice ">
                <div class="notice__validation">Please provide information to all&nbsp;<em>required</em>&nbsp;fields below.</div>
                <div class="notice__transaction-medium transaction-controller__transaction-medium"> You are about to Issue <strong>Cash</strong> on @DateTime.Now </div>
            </div>

            <fieldset class="popup__content radio-controls transaction-controller__radio-controls transaction-controller__radio-controls_withdraw">
                <div class="radio-controls__group">
                    <input class="radio-controls__radio-input transaction-controller__radio transaction-controller__radio_cash" name="withdraw-type" type="radio" value="Cash" checked />
                    <label class="radio-controls__label">Cash Withdrawal</label>
                </div>

                <div class="radio-controls__group">
                    <input class="radio-controls__radio-input transaction-controller__radio transaction-controller__radio_cheque" name="withdraw-type" type="radio" value="Cheque" />
                    <label class="radio-controls__label">Issue Check</label>
                </div>
            </fieldset>

            <fieldset class="popup__content transaction-controller__fieldset transaction-controller__fieldset_withdraw transaction-controller__fieldset_cheque">

                <div class="form-group">
                    <label class="form-group__label">Check Issue Date</label>
                    <input class="form-group__input form-group__input_date transaction-controller__cheque-date-input" type="date" data-date="" data-date-format="ll" value="2024-08-11" />
                </div>

                <div class="form-group">
                    <label class="form-group__label">Check Number</label>
                    <input class="form-group__input" />
                </div>

                <div class="form-group">
                    <label class="form-group__label">Payee (Company/Supplier/Customer Name)</label>
                    <input class="form-group__input" />
                </div>

                <div class="form-group">
                    <label class="form-group__label">Check Issuance Amount</label>
                    <input class="form-group__input" />
                </div>

                <div class="form-group">
                    <label class="form-group__label">Note</label>
                    <textarea class="form-group__input"></textarea>
                </div>

            </fieldset>

            <fieldset class="popup__content transaction-controller__fieldset transaction-controller__fieldset_withdraw transaction-controller__fieldset_cash">

                <div class="form-group">
                    <label class="form-group__label">Cash Withdraw Date</label>
                    <input class="form-group__input form-group__input_date transaction-controller__cash-date-input" type="date" data-date="" data-date-format="ll" value="2024-08-11" />
                </div>

                <div class="form-group">
                    <label class="form-group__label">Cash Withdraw Amount</label>
                    <input class="form-group__input" />
                </div>

                <div>
                    <fieldset class="form-group radio-controls">
                        <label class="form-group__label">Transaction Type, select one:</label>

                        <div class="radio-controls__group">
                            <input type="radio" class="radio-controls__radio-input" name="transaction-type" />
                            <label class="radio-controls__label">Over-the-Counter </label>
                        </div>

                        <div class="radio-controls__group">
                            <input type="radio" class="radio-controls__radio-input" name="transaction-type" />
                            <label class="radio-controls__label">Online Fund Transfer</label>
                        </div>

                    </fieldset>
                </div>

                <div class="form-group">
                    <label class="form-group__label">Note</label>
                    <textarea class="form-group__input"></textarea>
                </div>

            </fieldset>

            <footer class="popup__footer">
                <input type="submit" class="button " value="Add" />
                <button type="button" class="button  button_cancel overlay__cancel">Cancel</button>
            </footer>
        </form>

    </section>

    <section class="calendar__overlay-account-info overlay">
        <div class="calendar__account-info popup">
            <header class="popup__header">
                Bank Account Information
            </header>

            <ul class="popup__content">
                <li>Created by Alias: WINZYL C OLVIDO</li>
                <li>Date Created on System: July 01, 2024</li>
                <li>Bank Account Visibility: Shared</li>
                <li>Initial Balance Enrolled Date: July 01, 2024</li>
                <li>Account Name: WINZYL C OLVIDO</li>
                <li>Account Number: 9039000000 </li>
                <li>Account Type: Savings</li>
                <li>Bank Name: LANDBANK </li>
                <li>Branch of Account: LANDBANK - CEBU</li>
            </ul>

            <footer class="popup__footer">
                <button type="button" class="button  button_cancel overlay__cancel">Close</button>
            </footer>

        </div>
    </section>

</main>



