@model ChequeTransactionCreateRequest

@{
    Guid accountId = ViewBag.AccountId;
    DateTime date = ViewBag.Date;
}

<form class="popup" method="post">

    <header class="popup__header">
        Add Deposit
    </header>

    <div class="popup__content notice">
        <div class="notice__validation" asp-validation-summary="All">Please provide information to all&nbsp;<em>required</em>&nbsp;fields below.</div>
        <div class="notice__transaction-medium transaction-controller__transaction-medium">You are about to deposit <strong>Cheque</strong> on @date.ToString("MMM d, yyyy")</div>
    </div>

    <fieldset class="popup__content radio-controls transaction-controller__radio-controls transaction-controller__radio-controls_deposit">
        <div class="radio-controls__group">
            <input class="radio-controls__radio-input transactions-overview__cash-deposit-radio" name="deposit-type" type="radio" value="Cash" />
            <label class="radio-controls__label">Cash Deposit</label>
        </div>

        <div class="radio-controls__group">
            <input class="radio-controls__radio-input" name="deposit-type" type="radio" value="Cheque" checked />
            <label class="radio-controls__label">Check Deposit</label>
        </div>
    </fieldset>

    <fieldset class="popup__content transaction-controller__fieldset transaction-controller__fieldset_deposit transaction-controller__fieldset_cheque">
        
        <input asp-for="AccountId" type="hidden" value="@accountId" />

        @{
            var depositEnum = Enum.Parse<TransactionType>("Deposit");
        }
        <input asp-for="TransactionType" type="hidden" value="@depositEnum" />
        
        <div class="form-group">
            <label class="form-group__label">Check Deposit Date</label>
            <input asp-for="TransactionDate" class="form-group__input form-group__input_date transaction-controller__cheque-date-input" type="date" data-date="@date.ToString("MMM d, yyyy")" data-date-format="ll" value="@date.ToString("yyyy-MM-dd")">
        </div>

        <div class="form-group">
            <label class="form-group__label">Check Bank Name</label>
            <input asp-for="ChequeBankName" class="form-group__input transaction-controller__cheque-bank-name-input" placeholder="LANDBANK" />
        </div>

        <div class="form-group">
            <label class="form-group__label">Check Number</label>
            <input asp-for="ChequeNumber" class="form-group__input transaction-controller__cheque-number-input" placeholder="9098322123" />
        </div>

        <div class="form-group">
            <label class="form-group__label">Payee (Company/Supplier/Customer Name)</label>
            <input asp-for="Payee" class="form-group__input transaction-controller__cheque-payee-input" placeholder="Office of the Vice President" />
        </div>

        <div class="form-group">
            <label class="form-group__label">Check Amount</label>
            <input asp-for="Amount" class="form-group__input form-group__input_value-bold transaction-controller__cheque-amount-input" placeholder="0.00" />
        </div>

        <div class="form-group">
            <label class="form-group__label">Note</label>
            <textarea asp-for="Note" class="form-group__input transaction-controller__cheque-note-input" placeholder="Add Note"></textarea>
        </div>
    </fieldset>

    <footer class="popup__footer">
        <input asp-controller="TransactionForms" asp-action="CreateDepositCheque" type="submit" class="button" value="Add" />
        <button type="button" class="button  button_cancel overlay__cancel">Cancel</button>
    </footer>

</form>