@model CashTransactionCreateRequest

@{
    if (ViewBag.AccountId == null && ViewBag.Date == null)
    {
        ViewBag.AccountId = Model.AccountId;
        ViewBag.Date = Model.TransactionDate;
    }
}

<form class="popup" method="post">

    <header class="popup__header">
        Add Deposit
    </header>

    <div class="popup__content notice">
        <div class="notice__validation" asp-validation-summary="All">Please provide information to all&nbsp;<em>required</em>&nbsp;fields below.</div>
        <div class="notice__transaction-medium">You are about to deposit <strong>Cash</strong> on <span class="transactions-overview__notice-date">@ViewBag.Date.ToString("MMM d, yyyy")</span> </div>
    </div>

    <fieldset class="popup__content radio-controls transaction-controller__radio-controls">
        <div class="radio-controls__group">
            <input class="radio-controls__radio-input transaction-controller__radio transaction-controller__radio_cash" name="deposit-type" type="radio" value="Cash" checked />
            <label class="radio-controls__label">Cash Deposit</label>
        </div>

        <div class="radio-controls__group">
            <input class="radio-controls__radio-input transactions-overview__cheque-deposit-radio" name="deposit-type" type="radio" value="Cheque" />
            <label class="radio-controls__label">Check Deposit</label>
        </div>
    </fieldset>

    <fieldset class="popup__content transaction-controller__fieldset transaction-controller__fieldset_deposit transaction-controller__fieldset_cash">
        
        <input asp-for="AccountId" type="hidden" value="@ViewBag.AccountId" />

        @{
            var depositEnum = Enum.Parse<TransactionType>("Deposit");
        }
        <input asp-for="TransactionType" type="hidden" value="@depositEnum" />

        <div class="form-group">
            <label class="form-group__label">Cash Deposit Date</label>
            <div class="form-group__date-container">
                <time class="form-group__date-display" datetime="@ViewBag.Date.ToString("yyyy-MM-dd")">@ViewBag.Date.ToString("MMM d, yyyy")</time>
                <img class="form-group__date-icon" src="~/common.blocks/form-group/calendar-icon.png" />
                <input asp-for="TransactionDate" class="form-group__date-input" type="date" data-date-format="ll" value="@ViewBag.Date.ToString("yyyy-MM-dd")"/>
            </div>
            
        </div>

        <div class="form-group">
            <label class="form-group__label">Cash Amount</label>
            <input asp-for="Amount" class="form-group__input form-group__input_value-bold transaction-controller__cash-amount-input" placeholder="0.00" />
        </div>

        <div>
            <fieldset class="form-group radio-controls">
                <label class="form-group__label">Transaction Type, select one:</label>

                <div class="radio-controls__group">
                    <input asp-for="CashTransactionType" type="radio" class="radio-controls__radio-input transaction-controller__radio transaction-controller__radio_over-the-counter" name="CashTransactionType" value="Over-the-counter" />
                    <label class="radio-controls__label">Over-the-Counter </label>
                </div>

                <div class="radio-controls__group">
                    <input asp-for="CashTransactionType" type="radio" class="radio-controls__radio-input transaction-controller__radio transaction-controller__radio_bank-pick-up" name="CashTransactionType" value="Bank-pick-up" />
                    <label class="radio-controls__label">Bank Pick-up </label>
                </div>

                <div class="radio-controls__group">
                    <input asp-for="CashTransactionType" type="radio" class="radio-controls__radio-input transaction-controller__radio transaction-controller__radio_online-transfer" name="CashTransactionType" value="Online-transfer" />
                    <label class="radio-controls__label">Online Fund Transfer </label>
                </div>
            </fieldset>
        </div>

        <div class="form-group">
            <label class="form-group__label">Note</label>
            <textarea asp-for="Note" class="form-group__input transaction-controller__cash-note-input" placeholder="Add Note"></textarea>
        </div>
    </fieldset>

    <footer class="popup__footer">
        <input asp-controller="TransactionForms" asp-action="CreateDepositCash" type="submit" class="button" value="Add" />
        <button type="button" class="button button_cancel overlay__cancel">Cancel</button>
    </footer>

</form>




