@model ChequeTransactionCreateRequest

@{
    if (ViewBag.AccountId == null && ViewBag.Date == null)
    {
        ViewBag.AccountId = Model.AccountId;
        ViewBag.Date = Model.TransactionDate;
    }
}

<form class="popup" method="post">

    <header class="popup__header">
        Add Withdrawal
    </header>

    <div class="popup__content notice ">
        <div class="notice__validation" asp-validation-summary="All">Please provide information to all&nbsp;<em>required</em>&nbsp;fields below.</div>
        <div class="notice__transaction-medium transaction-controller__transaction-medium">You are about to Issue a <strong>Check</strong> on <span class="transactions-overview__notice-date">@ViewBag.Date.ToString("MMM d, yyyy")</span></div>
    </div>

    <fieldset class="popup__content radio-controls transaction-controller__radio-controls transaction-controller__radio-controls_withdraw">
        <div class="radio-controls__group">
            <input class="radio-controls__radio-input transactions-overview__cash-withdraw-radio" name="withdraw-type" type="radio" value="Cash"  />
            <label class="radio-controls__label">Cash Withdrawal</label>
        </div>

        <div class="radio-controls__group">
            <input class="radio-controls__radio-input transactions-overview__cheque-withdraw-radio" name="withdraw-type" type="radio" value="Cheque" checked />
            <label class="radio-controls__label">Issue Check</label>
        </div>
    </fieldset>

    <fieldset class="popup__content transaction-controller__fieldset transaction-controller__fieldset_withdraw transaction-controller__fieldset_cheque">

        <input asp-for="AccountId" type="hidden" value="@ViewBag.AccountId" />
        @{
            var withdrawEnum = Enum.Parse<TransactionType>("Withdraw");
        }
        <input asp-for="TransactionType" type="hidden" value="@withdrawEnum" />


        <div class="form-group">
            <label class="form-group__label">Check Issue Date</label>
            <div class="form-group__date-container">
                <time class="form-group__date-display" datetime="@ViewBag.Date.ToString("yyyy-MM-dd")">@ViewBag.Date.ToString("MMM d, yyyy")</time>
                <img class="form-group__date-icon" src="~/common.blocks/form-group/calendar-icon.png" />
                <input asp-for="TransactionDate" class="form-group__date-input" type="date" data-date-format="ll" value="@ViewBag.Date.ToString("yyyy-MM-dd")"/>
            </div>
        </div>

        <div class="form-group">
            <label class="form-group__label">Check Number</label>
            <input asp-for="ChequeNumber" class="form-group__input transaction-controller__cheque-number-input" placeholder="000000000000000" />
        </div>

        <div class="form-group">
            <label class="form-group__label">Payee (Company/Supplier/Customer Name)</label>
            <input asp-for="Payee" class="form-group__input transaction-controller__cheque-payee-input" placeholder="John Doe"/>
        </div>

        <div class="form-group">
            <label class="form-group__label">Check Issuance Amount</label>
            <input asp-for="Amount" class="form-group__input transaction-controller__cheque-amount-input" placeholder="0.00"/>
        </div>

        <div class="form-group">
            <label class="form-group__label">Note</label>
            <textarea asp-for="Note" class="form-group__input transaction-controller__cheque-note-input" placeholder="Add Note"></textarea>
        </div>

    </fieldset>

    <footer class="popup__footer">
        <input asp-controller="TransactionForms" asp-action="CreateWithdrawCheque" type="submit" class="button" value="Add" />
        <button type="button" class="button  button_cancel overlay__cancel">Cancel</button>
    </footer>
</form>