@section styles{
    <link href="~/desktop.blocks/account-overview/account-overview.css" rel="stylesheet" type="text/css" />
    <link href="~/desktop.blocks/toolbar/toolbar.css" rel="stylesheet" type="text/css" />
    <script src="~/common.blocks/form-group/form-group__input_date.js" async defer></script>
    <script src="~/common.blocks/transaction-controller/transaction-controller.js" async defer></script>
    <script src="~/common.blocks/overlay/overlay.js" async defer></script>
}

<main class="main account-overview transaction-controller">

    <section class="account-overview__toolbar-section ">
        <section class="account-overview__session-info">
            <div class="account-overview__session-info-date">June 19, 2024</div> @* date selected sa calendar *@
            <div class="account-overview__session-info-account"> RCBC WINZYL C OLVIDO  9039000000 </div>
        </section>

        <div class="account-overview__toolbar transaction-toolbar">

            <button class="account-overview__toolbar-button button transaction-controller__button transaction-controller__button_deposit">Add Cash / Check Deposit</button>
            <button class="account-overview__toolbar-button button transaction-controller__button transaction-controller__button_withdraw">Add Check Issuance / Cash Withdrawal</button>
        </div>
    </section>

    <section class="account-overview__finance-section">

        <section class="account-overview__balance-deposits-section">

            <section class="account-overview__balance-section">
                <div class="account-overview__balance-label-group">
                    <label class="account-overview__balance-label account-overview__balance-label_working-balance">Working Balance</label>
                    <textarea readonly class="account-overview__balance-value account-overview__balance-value_total" maxlength="25">0.00</textarea>
                </div>

                <div class="account-overview__balance-label-group">
                    <label class="account-overview__balance-label">Total Deposits for the Day</label>
                    <textarea readonly class="account-overview__balance-value account-overview__balance-value_deposit" maxlength="25">828,532.11</textarea>
                </div>

                <div class="account-overview__balance-label-group">
                    <label class="account-overview__balance-label">Total Withdrawals for the Day</label>
                    <textarea readonly class="account-overview__balance-value account-overview__balance-value_withdraw" maxlength="25">777,657.46</textarea>
                </div>
            </section>

            <div class="account-overview__back-button-container">
                <a href="/" class="account-overview__back-button button button_cancel button_link"> Back To Calendar </a>
            </div>

            <section class="account-overview__deposits-section">

                <section class="account-overview__deposits-cash">

                    <div class="account-overview__table-caption">
                        <div class="account-overview__table-label">
                            Cash Deposits
                        </div>

                        <div class="account-overview__table-total">
                            Php 784,670.00
                        </div>
                    </div>

                    <div class="account-overview__deposits-table table">

                        <div class="account-overview__table-container table__item-container">
                        @for (int i = 0; i < 2; i++)
                        {
                            <div class="account-overview__table-item table__item transaction-controller__item">

                                <div class="transaction-controller__field-transaction-type">
                                    deposit
                                </div>

                                <div class="table__item-field transaction-controller__field-currency-type">
                                    Cash
                                </div>

                                <div class="transaction-controller__cash-transaction">
                                    bank-pick-up
                                </div>

                                <div class="transaction-controller__field-date">
                                    2026-08-11
                                </div>

                                <div class="transaction-controller__field-note transaction-controller__field-note transaction-controller__field-note_invisible">
                                    secret note cash deposit bank-pick-up
                                </div>

                                <div class="table__item-field table__item-field_controller">

                                    <div class="table__item-field-label transaction-controller__field-amount">
                                        @(i*1000)
                                    </div>

                                    <div class="table__item-controls">

                                        <button class="table__item-button transaction-controller__button_edit">
                                            <img class="table__item-icon" src="~/common.blocks/table/__item/edit-icon.png" />
                                        </button>

                                    </div>

                                </div>
                    
                            </div>
                        }
                        </div>

                    </div>

                </section>

                <section class="account-overview__deposits-cheque">
                    <div class="account-overview__table-caption">
                        <div class="account-overview__table-label">
                            Check Deposits
                        </div>

                        <div class="account-overview__table-total">
                            Php 43,862.10
                        </div>
                    </div>

                    <div class="account-overview__deposits-table table">

                        <div class="account-overview__table-container table__item-container">
                            @for (int i = 0; i < 2; i++)
                            {
                                <div class="account-overview__table-item table__item transaction-controller__item">

                                    <div class="transaction-controller__field-transaction-type">
                                        deposit
                                    </div>

                                    <div class="account-overview__item-cheque table__item-field transaction-controller__field-currency-type">
                                        2038624
                                    </div>

                                    <div class="account-overview__item-bank table__item-field transaction-controller__field-bank-name">
                                        RB Mati
                                    </div>

                                    <div class="transaction-controller__field-date">
                                        2026-08-11
                                    </div>

                                    <div class="transaction-controller__field-note transaction-controller__field-note transaction-controller__field-note_invisible">
                                        secret note cash deposit bank-pick-up
                                    </div>

                                    <div class="transaction-controller__field-payee">
                                        Alice Gou
                                    </div>

                                    <div class="account-overview__item-amount-deposit table__item-field table__item-field_controller">

                                        <div class="table__item-field-label transaction-controller__field-amount">
                                            @(i*1000/3)
                                        </div>

                                        <div class="table__item-controls">

                                            <button class="table__item-button transaction-controller__button_edit">
                                                <img class="table__item-icon" src="~/common.blocks/table/__item/edit-icon.png" />
                                            </button>

                                        </div>

                                    </div>

                                </div>
                            }
                        </div>

                    </div>


                </section>

            </section>

        </section>

        <section class="account-overview__withdrawals-section">
            <div class="account-overview__table-caption">
                <div class="account-overview__table-label">
                    Issuance & Withdrawals
                </div>

                <div class="account-overview__table-total">
                    <div class="account-overview__withdrawals-total account-overview__withdrawals-total-value_cash"> Cash: Php 359,917.69 </div>
                    <div class="account-overview__withdrawals-total account-overview__withdrawals-total-value_cheque"> Check: Php 417,739.77 </div>
                </div>
            </div>

            <div class="account-overview__withdrawals-table table">
                <header class="account-overview__table-header table__header">
                    <div class="account-overview__header-payment table__header-title">
                        <button class="account-overview__header-button table__header-button">
                            Check #<br />
                            / Cash
                        </button>
                    </div>

                    <div class="account-overview__header-payee table__header-title">
                        <button class="account-overview__header-button table__header-button">
                            Payee
                        </button>
                    </div>

                    <div class="account-overview__header-amount table__header-title">
                        <button class="account-overview__header-button table__header-button">
                            Amount
                        </button>
                    </div>

                    <div class="account-overview__header-notes table__header-title">
                        <button class="account-overview__header-button table__header-button">
                            Notes
                        </button>
                    </div>

                </header>

                <div class="account-overview__table-content table__item-container">

                    @for (int i = 0; i < 4; i++)
                    {

                        <div class="account-overview__table-item table__item transaction-controller__item">

                            <div class="transaction-controller__field-transaction-type">
                                withdraw
                            </div>

                            <div class="transaction-controller__field-date">
                                2026-08-11
                            </div>

                            <div class="transaction-controller__cash-transaction">
                                @{
                                    string valueCash;
                                    if (i == 3){
                                        valueCash = "over-the-counter";
                                    }
                                    else{
                                        valueCash = "";
                                    }
                                }
                                @valueCash
                            </div>

                            <div class="account-overview__item-payment table__item-field transaction-controller__field-currency-type">
                                
                                @{
                                    string value;
                                    if (i == 3){
                                        value = "Cash";
                                    }
                                    else{
                                        value = i.ToString();
                                    }
                                }
                                @value

                            </div>

                            <div class="account-overview__item-payee table__item-field transaction-controller__field-payee">
                                Alice Gou
                            </div>

                            <div class="account-overview__item-amount-withdrawal table__item-field transaction-controller__field-amount">
                                @(i*1000)
                            </div>

                            <div class="account-overview__item-notes table__item-field table__item-field_controller">
                                <div class="account-overview__item-notes-label table__item-field-label transaction-controller__field-note">
                                    POGO Payment
                                </div>
                                    
                                <div class="table__item-controls">

                                    <button class="table__item-button transaction-controller__button_edit">
                                        <img class="table__item-icon" src="~/common.blocks/table/__item/edit-icon.png" />
                                    </button>

                                </div>

                            </div>
                    
                        </div>
                    }
                </div>

            </div>

        </section>

    </section>

    <section class="overlay transaction-controller__overlay transaction-controller__overlay_deposit">
        <form class="popup">
            <header class="popup__header">
                Add Deposit
            </header>

            <div class="popup__content notice">
                <div class="notice__validation">Please provide information to all&nbsp;<em>required</em>&nbsp;fields below.</div>
                <div class="notice__transaction-medium transaction-controller__transaction-medium">You are about to deposit <strong>Cash</strong> on @DateTime.Now</div>
            </div>

            <fieldset class="popup__content radio-controls transaction-controller__radio-controls transaction-controller__radio-controls_deposit">
                <div class="radio-controls__group">
                    <input class="radio-controls__radio-input transaction-controller__radio transaction-controller__radio_cash" name="deposit-type" type="radio" value="Cash" checked />
                    <label class="radio-controls__label">Cash Deposit</label>
                </div>

                <div class="radio-controls__group">
                    <input class="radio-controls__radio-input transaction-controller__radio transaction-controller__radio_cheque" name="deposit-type" type="radio" value="Cheque" />
                    <label class="radio-controls__label">Check Deposit</label>
                </div>
            </fieldset>

            <fieldset class="popup__content transaction-controller__fieldset transaction-controller__fieldset_deposit transaction-controller__fieldset_cash">

                <div class="form-group">
                    <label class="form-group__label">Cash Deposit Date</label>
                    <input class="form-group__input form-group__input_date transaction-controller__cash-date-input" type="date" data-date="" data-date-format="ll" value="2024-08-11">
                </div>

                <div class="form-group">
                    <label class="form-group__label form-group__label_error">Cash Amount</label>
                    <input class="form-group__input form-group__input_value-bold transaction-controller__cash-amount-input" placeholder="0.00" />
                </div>

                <div>
                    <fieldset class="form-group radio-controls">
                        <label class="form-group__label">Transaction Type, select one:</label>

                        <div class="radio-controls__group">
                            <input type="radio" class="radio-controls__radio-input transaction-controller__radio transaction-controller__radio_over-the-counter" name="cash-transaction-type" value="Over-the-counter" />
                            <label class="radio-controls__label">Over-the-Counter </label>
                        </div>

                        <div class="radio-controls__group">
                            <input type="radio" class="radio-controls__radio-input transaction-controller__radio transaction-controller__radio_bank-pick-up" name="cash-transaction-type" value="Bank-pick-up" />
                            <label class="radio-controls__label">Bank Pick-up </label>
                        </div>

                        <div class="radio-controls__group">
                            <input type="radio" class="radio-controls__radio-input transaction-controller__radio transaction-controller__radio_online-transfer" name="cash-transaction-type" value="Online-transfer" />
                            <label class="radio-controls__label">Online Fund Transfer </label>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group">
                    <label class="form-group__label form-group__label_error">Note</label>
                    <textarea class="form-group__input transaction-controller__cash-note-input" placeholder="Add Note"></textarea>
                </div>

            </fieldset>

            <fieldset class="popup__content transaction-controller__fieldset transaction-controller__fieldset_deposit transaction-controller__fieldset_cheque">

                <div class="form-group">
                    <label class="form-group__label">Check Deposit Date</label>
                    <input class="form-group__input form-group__input_date transaction-controller__cheque-date-input" type="date" data-date="" data-date-format="ll" value="2024-08-11">
                </div>

                <div class="form-group">
                    <label class="form-group__label form-group__label_error">Check Bank Name</label>
                    <input class="form-group__input transaction-controller__cheque-bank-name-input" placeholder="LANDBANK" />
                </div>

                <div class="form-group">
                    <label class="form-group__label form-group__label_error">Check Number</label>
                    <input class="form-group__input transaction-controller__cheque-number-input" placeholder="1234567890" />
                </div>

                <div class="form-group">
                    <label class="form-group__label form-group__label_error">Payee (Company/Supplier/Customer Name)</label>
                    <input class="form-group__input transaction-controller__cheque-payee-input" placeholder="Office of the Vice President" />
                </div>

                <div class="form-group">
                    <label class="form-group__label form-group__label_error">Check Amount</label>
                    <input class="form-group__input form-group__input_value-bold transaction-controller__cheque-amount-input" placeholder="0.00" />
                </div>

                <div class="form-group">
                    <label class="form-group__label form-group__label_error">Note</label>
                    <textarea class="form-group__input transaction-controller__cheque-note-input" placeholder="Add Note"></textarea>
                </div>

            </fieldset>

            <footer class="popup__footer">
                <input type="submit" class="button " value="Add" />
                <button type="button" class="button  button_cancel overlay__cancel">Cancel</button>
            </footer>

        </form>
    </section>

    <section class="overlay transaction-controller__overlay transaction-controller__overlay_withdraw">
        <form class="popup">

            <header class="popup__header">
                Add Withdrawal
            </header>

            <div class="popup__content notice ">
                <div class="notice__validation">Please provide information to all&nbsp;<em>required</em>&nbsp;fields below.</div>
                <div class="notice__transaction-medium transaction-controller__transaction-medium">You are about to Issue a <strong>Check</strong> on @DateTime.Now</div>
            </div>

            <fieldset class="popup__content radio-controls transaction-controller__radio-controls transaction-controller__radio-controls_withdraw">
                <div class="radio-controls__group">
                    <input class="radio-controls__radio-input transaction-controller__radio transaction-controller__radio_cash" name="withdraw-type" type="radio" value="Cash" checked />
                    <label class="radio-controls__label">Cash Withdrawal</label>
                </div>

                <div class="radio-controls__group">
                    <input class="radio-controls__radio-input transaction-controller__radio transaction-controller__radio_cheque" name="withdraw-type" type="radio" value="Cheque" />
                    <label class="radio-controls__label">Issue Check</label>
                </div>
            </fieldset>

            <fieldset class="popup__content transaction-controller__fieldset transaction-controller__fieldset_withdraw transaction-controller__fieldset_cheque">

                <div class="form-group">
                    <label class="form-group__label">Check Issue Date</label>
                    <input class="form-group__input form-group__input_date transaction-controller__cheque-date-input" type="date" data-date="" data-date-format="ll" value="2024-08-11" />
                </div>

                <div class="form-group">
                    <label class="form-group__label">Check Number</label>
                    <input class="form-group__input transaction-controller__cheque-number-input" />
                </div>

                <div class="form-group">
                    <label class="form-group__label">Payee (Company/Supplier/Customer Name)</label>
                    <input class="form-group__input transaction-controller__cheque-payee-input" />
                </div>

                <div class="form-group">
                    <label class="form-group__label">Check Issuance Amount</label>
                    <input class="form-group__input transaction-controller__cheque-amount-input" />
                </div>

                <div class="form-group">
                    <label class="form-group__label">Note</label>
                    <textarea class="form-group__input transaction-controller__cheque-note-input"></textarea>
                </div>

            </fieldset>

            <fieldset class="popup__content transaction-controller__fieldset transaction-controller__fieldset_withdraw transaction-controller__fieldset_cash">

                <div class="form-group">
                    <label class="form-group__label">Cash Withdraw Date</label>
                    <input class="form-group__input form-group__input_date transaction-controller__cash-date-input" type="date" data-date="" data-date-format="ll" value="2025-08-11" />
                </div>

                <div class="form-group">
                    <label class="form-group__label">Cash Withdraw Amount</label>
                    <input class="form-group__input transaction-controller__cash-amount-input" />
                </div>

                <div>
                    <fieldset class="form-group radio-controls">
                        <label class="form-group__label">Transaction Type, select one:</label>

                        <div class="radio-controls__group">
                            <input type="radio" class="radio-controls__radio-input transaction-controller__radio transaction-controller__radio_over-the-counter" name="cash-transaction-type" value="Over-the-counter" />
                            <label class="radio-controls__label">Over-the-Counter </label>
                        </div>

                        <div class="radio-controls__group">
                            <input type="radio" class="radio-controls__radio-input transaction-controller__radio transaction-controller__radio_online-transfer" name="cash-transaction-type" value="Online-transfer" />
                            <label class="radio-controls__label">Online Fund Transfer</label>
                        </div>

                    </fieldset>
                </div>

                <div class="form-group">
                    <label class="form-group__label">Note</label>
                    <textarea class="form-group__input transaction-controller__cash-note-input"></textarea>
                </div>

            </fieldset>

            <footer class="popup__footer">
                <input type="submit" class="button " value="Add" />
                <button type="button" class="button  button_cancel overlay__cancel">Cancel</button>
            </footer>
        </form>

    </section>

</main>