@section styles {
    <link href="~/desktop.blocks/accounts/accounts.css" rel="stylesheet" type="text/css" />
    <script src="~/desktop.blocks/accounts/accounts.js" async defer></script>
    <script src="~/common.blocks/overlay/overlay.js" async defer></script>
}

@model AccountViewModel

<main class="main accounts">

    <section class="accounts__toolbar">
        <button class="accounts__add-accounts button">
            Add Bank Account
        </button>

        <search class="accounts__search">

            <form class="accounts__search-form">
                <button class="accounts__search-button">
                    <img class="accounts__search-icon" src="~/desktop.blocks/accounts/__search/search.png" />
                </button>
                <input class="accounts__search-input" name="" id="" placeholder="Search">
            </form>

            <select class="accounts__search-filter">
                <option class="accounts__search-option" value="All">&nbsp;&nbsp;&nbsp; Any Bank</option>
                <option class="accounts__search-option" value="RCBC">&nbsp;&nbsp;&nbsp; RCBC</option>
                <option class="accounts__search-option" value="Land-Bank">&nbsp;&nbsp;&nbsp; Land Bank </option>
                <option class="accounts__search-option" value="BDO">&nbsp;&nbsp;&nbsp; BDO </option>
                <option class="accounts__search-option" value="BPI">&nbsp;&nbsp;&nbsp; BPI </option>
                <option class="accounts__search-option" value="Metrobank"> &nbsp;&nbsp;&nbsp; Metrobank </option>
                <option class="accounts__search-option" value="Unionbank"> &nbsp;&nbsp;&nbsp; Unionbank </option>
                <option class="accounts__search-option" value="Security Bank"> &nbsp;&nbsp;&nbsp; Security Bank </option>
                <option class="accounts__search-option" value="PNB"> &nbsp;&nbsp;&nbsp; PNB </option>
                <option class="accounts__search-option" value="China Bank"> &nbsp;&nbsp;&nbsp; China Bank </option>
                <option class="accounts__search-option" value="Eastwest Bank"> &nbsp;&nbsp;&nbsp; Eastwest Bank </option>
                <option class="accounts__search-option" value="PS Bank"> &nbsp;&nbsp;&nbsp; PS Bank </option>
                <option class="accounts__search-option" value="Maybank"> &nbsp;&nbsp;&nbsp; Maybank </option>
                <option class="accounts__search-option" value="UCPB"> &nbsp;&nbsp;&nbsp; UCPB </option>
                <option class="accounts__search-option" value="DBP"> &nbsp;&nbsp;&nbsp; DBP </option>
                <option class="accounts__search-option" value="HSBC"> &nbsp;&nbsp;&nbsp; HSBC </option>
            </select>
        </search>
    </section>

    <section class="accounts__table table">

        <header class="accounts__header table__header">
            <div class="accounts__header-bank table__header-title">
                <button class="accounts__header-button table__header-button">
                    Bank
                </button>
            </div>

            <div class="accounts__header-account table__header-title">
                <button class="accounts__header-button table__header-button">Account Number</button>
            </div>

            <div class="accounts__header-payor table__header-title">
                <button class="accounts__header-button table__header-button">Payor</button>
            </div>

            <div class="accounts__header-balance table__header-title">
                <button class="accounts__header-button table__header-button">Working Balance</button>
            </div>
        </header>

        <div class="accounts__table-container table__item-container">
            @foreach (var account in Model.AccountResponses!)
            {
                <div class="accounts__item table__item" onclick="window.location.href='@Url.Action("Calendar", "Calendar", new { accountId = account.AccountId })'">
                    <div class="accounts__item-bank table__item-field">@account.BankName</div>
                    <div class="accounts__item-account table__item-field">@account.AccountNumber</div>
                    <div class="accounts__item-payor table__item-field">@account.AccountName</div>
                    <div class="accounts__item-balance table__item-field table__item-field_controller">

                        <div class="table__item-field-label">@account.WorkingBalance?.ToCurrencyString()</div>

                        <div class="accounts__item-controls table__item-controls">
                            <button data-accountId="@account.AccountId" class="accounts__item-button accounts__item-button_edit table__item-button">
                                <img class="accounts__item-icon table__item-icon" src="~/common.blocks/table/__item/edit-icon.png" />
                            </button>
                        </div>
                    </div>
                </div>
            }

        </div>
    </section>

</main>

<section class="accounts__overlay accounts__overlay_create overlay">
    <partial name="~/Views/Shared/AccountForms/_CreateAccountPartialView.cshtml" model="Model.AccountCreateRequest"></partial>
</section>

<section class="accounts__overlay accounts__overlay_modify overlay">
    @* <partial name="~/Views/Shared/AccountForms/_UpdateAccountPartialView.cshtml" model="Model.AccountUpdateRequest"></partial> *@
</section>
