@section styles {
    <link href="~/desktop.blocks/accounts/accounts.css" rel="stylesheet" type="text/css" />
    <script src="~/desktop.blocks/accounts/accounts.js" defer></script>
    <script src="~/common.blocks/overlay/overlay.js" defer></script>
    <script src="~/common.blocks/popup/popup.js" defer></script>
}

@model AccountViewModel

<main class="main accounts">
    <form asp-controller="Home" asp-action="Index" method="get">

    <section class="accounts__toolbar">
        <button type="button" class="accounts__add-accounts button">
            Add Bank Account
        </button>

        <search class="accounts__search">

            <div class="accounts__search-form">
                <button class="accounts__search-button">
                    <img class="accounts__search-icon" src="~/desktop.blocks/accounts/__search/search.png" />
                </button>
                <input class="accounts__search-input" name="searchString" id="" placeholder="Search">
            </div>

            <select name="bankFilter" class="accounts__search-filter">
                @foreach(var bank in ViewBag.Banks)
                {
                    <option class="accounts__search-option" value="@bank">&nbsp;&nbsp;&nbsp; @bank</option>
                }
            </select>

        </search>

    </section>

    <section class="accounts__table table">

        <header class="accounts__header table__header">
            @{
                var sortOrderBankName = Enum.Parse<SortOrderOptions>("Ascending");
                var sortOrderAccountNumber = Enum.Parse<SortOrderOptions>("Ascending");
                var sortOrderAccountName = Enum.Parse<SortOrderOptions>("Ascending");
                var sortOrderBalance = Enum.Parse<SortOrderOptions>("Ascending");

                if (ViewBag.SortBy == "BankName" && ViewBag.SortOrder == SortOrderOptions.Ascending){
                    sortOrderBankName = Enum.Parse<SortOrderOptions>("Descending");
                }
                if(ViewBag.SortBy == "AccountNumber" && ViewBag.SortOrder == SortOrderOptions.Ascending){
                    sortOrderAccountNumber = Enum.Parse<SortOrderOptions>("Descending");
                }
                if(ViewBag.SortBy == "AccountName" && ViewBag.SortOrder == SortOrderOptions.Ascending){
                    sortOrderAccountName = Enum.Parse<SortOrderOptions>("Descending");
                }
                if(ViewBag.SortBy == "Balance" && ViewBag.SortOrder == SortOrderOptions.Ascending){
                    sortOrderBalance = Enum.Parse<SortOrderOptions>("Descending");
                }
            }
            <input type="hidden" name="sortOrder" value="@ViewBag.SortOrder" />
            <input type="hidden" name="sortBy" value="@ViewBag.SortBy"  />
           
            <div class="accounts__header-bank table__header-title">
                <a asp-controller="Home" asp-action="Index" asp-route-sortBy="BankName" asp-route-sortOrder="@sortOrderBankName" asp-route-bankFilter="@ViewBag.BankFilter" class="accounts__header-button table__header-button">Bank</a>
            </div>

            <div class="accounts__header-account table__header-title">
                <a asp-controller="Home" asp-action="Index" asp-route-sortBy="AccountNumber" asp-route-sortOrder="@sortOrderAccountNumber" asp-route-bankFilter="@ViewBag.BankFilter" class="accounts__header-button table__header-button">Account Number</a>
            </div>

            <div class="accounts__header-payor table__header-title">
                <a asp-controller="Home" asp-action="Index" asp-route-sortBy="AccountName" asp-route-sortOrder="@sortOrderAccountName" asp-route-bankFilter="@ViewBag.BankFilter" class="accounts__header-button table__header-button">Payor</a>
            </div>

            <div class="accounts__header-balance table__header-title">
                <a asp-controller="Home" asp-action="Index" asp-route-sortBy="Balance" asp-route-sortOrder="@sortOrderBalance" asp-route-bankFilter="@ViewBag.BankFilter" class="accounts__header-button table__header-button">Working Balance</a>
            </div>
        </header>

        <div class="accounts__table-container table__item-container">
            @foreach (var account in Model.AccountResponses!)
            {
                <div class="accounts__item table__item" onclick="if (!window.getSelection().toString()) {window.location.href='@Url.Action("Calendar", "Calendar", new { accountId = account.AccountId })'; }">
                    <div class="accounts__item-bank table__item-field">@account.BankName</div>
                    <div class="accounts__item-account table__item-field">@account.AccountNumber</div>
                    <div class="accounts__item-payor table__item-field">@account.AccountName</div>
                    <div class="accounts__item-balance table__item-field table__item-field_controller">

                        <div class="table__item-field-label">@account.WorkingBalance?.ToCurrencyString()</div>

                        <div class="accounts__item-controls table__item-controls">
                            <button type="button" data-accountId="@account.AccountId" class="accounts__item-button accounts__item-button_edit table__item-button">
                                <img class="accounts__item-icon table__item-icon" src="~/common.blocks/table/__item/edit-icon.png" />
                            </button>
                        </div>
                    </div>
                </div>
            }

        </div>
    </section>

    </form>
</main>

<section class="accounts__overlay accounts__overlay_create overlay">
    <partial name="~/Views/Shared/AccountForms/_CreateAccountPartialView.cshtml" model="Model.AccountCreateRequest"></partial>
</section>

<section class="accounts__overlay accounts__overlay_modify overlay">
    @* <partial name="~/Views/Shared/AccountForms/_UpdateAccountPartialView.cshtml" model="Model.AccountUpdateRequest"></partial> *@
</section>
