@model List<TransactionResponse>

<div class="transactions-overview__table-caption">
    <div class="transactions-overview__table-label">
        Issuance & Withdrawals
    </div>

    <div class="transactions-overview__table-total">
        @{
            //get total cash amount withdrawn
            var totalCash = Model.Where(x => x is { TransactionType: "Withdraw", ChequeNumber: null }).Sum(x => x.Amount);
        }
        <div class="transactions-overview__withdrawals-total transactions-overview__withdrawals-total-value_cash"> Cash: Php @totalCash.ToCurrencyString() </div>
        @{
            //get total cheque amount withdrawn
            var totalCheque = Model.Where(x => x is { TransactionType: "Withdraw", ChequeNumber: not null }).Sum(x => x.Amount);
        }
        <div class="transactions-overview__withdrawals-total transactions-overview__withdrawals-total-value_cheque"> Check: Php @totalCheque.ToCurrencyString() </div>
    </div>
</div>

<div class="transactions-overview__withdrawals-table table">
    <header class="transactions-overview__table-header table__header">
        <div class="transactions-overview__header-payment table__header-title">
            <button class="transactions-overview__header-button table__header-button">
                Check #<br />
                / Cash
            </button>
        </div>

        <div class="transactions-overview__header-payee table__header-title">
            <button class="transactions-overview__header-button table__header-button">
                Payee
            </button>
        </div>

        <div class="transactions-overview__header-amount table__header-title">
            <button class="transactions-overview__header-button table__header-button">
                Amount
            </button>
        </div>

        <div class="transactions-overview__header-notes table__header-title">
            <button class="transactions-overview__header-button table__header-button">
                Notes
            </button>
        </div>

    </header>

    <div class="transactions-overview__table-content table__item-container">

        @foreach (var transaction in Model)
        {
            <div class="transactions-overview__table-item table__item transaction-controller__item">

                <div class="transaction-controller__field-transaction-type">
                    @transaction.TransactionType
                </div>

                <div class="transaction-controller__field-date">
                    @transaction.TransactionDate
                </div>

                <div class="transactions-overview__item-payment table__item-field">
                    @{
                        transaction.ChequeNumber ??= "Cash";
                    }
                    @transaction.ChequeNumber
                </div>

                <div class="transactions-overview__item-payee table__item-field transaction-controller__field-payee">
                    @{
                        transaction.Payee ??= "N/A";
                    }
                    @transaction.Payee
                </div>

                <div class="transactions-overview__item-amount-withdrawal table__item-field transaction-controller__field-amount">
                    @transaction.Amount.ToCurrencyString()
                </div>

                <div class="transactions-overview__item-notes table__item-field table__item-field_controller">
                    <div class="transactions-overview__item-notes-label table__item-field-label transaction-controller__field-note">
                        @transaction.Note
                    </div>

                    <div class="table__item-controls">

                        <button data-transactionId="@transaction.TransactionId" class="table__item-button transaction-overview__button_edit">
                            <img class="table__item-icon" src="~/common.blocks/table/__item/edit-icon.png" />
                        </button>

                    </div>

                </div>

            </div>
        }
    </div>

</div>
